<%-  include ('./partials/header');  -%>


    <!-- ========================
       page title 
    =========================== -->
    <section class="page-title page-title-layout1 bg-overlay">
      <div class="bg-img"><img src="images/lawi.jpg" alt="background"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-5">
            <h1 style="color: white;" class="pagetitle__heading">Lawyers roles and daily responsibilities can vary considerably. </h1>
            <p style="color: white;" class="pagetitle__desc">Lawyers, also referred to as attorneys or counselors, are licensed by the state in which they practice to advise and represent clients on legal matters including animal rights.
            </p>
        <!--<a href="appointment.html" class="btn btn__primary btn__rounded">
              <span>Make Appointment</span>
              <i class="icon-arrow-right"></i>
            </a>
        -->
          </div><!-- /.col-xl-5 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.page-title -->
    <!-- ========================
        Team layout 3
    ========================== -->
    <section class="team-layout3 pb-40">
      <div class="container">
        <div class="row justify-content-center">
          <form class="contact-panel__form" action="/lawyers" method="POST">
            <div class="row">
              <div class="col-sm-12">
                <h4 style="color: white;" class="contact-panel__title">Filter Lawyer</h4>
              </div> 
              <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <i class="icon-user form-group-icon"></i>
                  <input type="text" class="form-control" placeholder="Search by Name" id="contact-name" name="name">
                </div>
              </div><!-- /.col-lg-6 -->
              <div class="col-sm-4 col-md-4 col-lg-4">
                <div class="form-group">
                  <i class="icon-widget form-group-icon"></i>
                  <input type="text" class="form-control" placeholder="Search by City" id="contact-name" name="city">
                </div>
              </div><!-- /.col-lg-6 -->   
              <div class="col-3">
                <button class="btn btn__primary btn__rounded btn__block">
                  <span>Search</span>
                </button>
                <div class="contact-result"></div>
              </div><!-- /.col-lg-12 -->
              <div class="col-2">
                <a href="/lawyers">
                  <button class="btn btn__primary btn__rounded btn__block">
                    <span>Refresh</span>
                  </button>
                </a>       
                <div class="contact-result"></div>
              </div><!-- /.col-lg-12 -->
            </div><!-- /.row -->
          </form>
        </div>  
        <br><br>
        <div class="row">
          <!-- Members -->
      <%if(data.length >0 ) { %>
       <% data.forEach((camp) => {  %>
          <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="member">
              <div class="member__img">
                <img src="images/uploads/<%=camp.file2%>"  width="70%" alt="Lawyer img">
              </div><!-- /.member-img -->
              <div class="member__info">
                <h5 class="member__name"><%= camp.name %></h5>
                <p class="member__job"><%= camp.city %></p>
                <p class="member__desc"><strong style="font-weight: bold; font-size: 15px;">Preference Types:</strong> <%= camp.special %></p>
                <div class="mt-20 d-flex flex-wrap justify-content-between align-items-center">
                  <a href="/lawyers/<%= camp._id %>" class="btn btn__secondary btn__link btn__rounded">
                    <span>Read More</span>
                    <i class="icon-arrow-right"></i>
                  </a>
                </div>
              </div><!-- /.member-info -->
            </div><!-- /.member -->
          </div><!-- /.col-lg-4 -->
       <%  }) } else{ %>
        <h4 class="col-6 text-center" style="color: red;">No Lawyer to Serve</h4>
        <% } %>
        </div> <!-- /.row -->
        <br><br>
        <div class="row">
          <div class="col-12 text-center">
            <nav class="pagination-area">
              <ul class="pagination justify-content-center">
                <li><a class="current" href="#">1</a></li>
                <li><a href="#"><i class="icon-arrow-right"></i></a></li>
              </ul>
            </nav><!-- .pagination-area -->
          </div><!-- /.col-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.Team layout 3  -->



<%-  include ('./partials/footer');  -%>
